{%extends "shop/layout.html"%} <!--겹치는부분 있는곳-->

{% block content %}
    <form action="" method="GET">
        <input type="text" name="q" value="{{q}}">
        <input type="submit" value="search">
    </form>    
    <!--{%block super%} 부모에 있는 거도 나오게 해준다 , 원랜 덮어씀-->
    <ul>
        {%for item in item_list%}
            <li>
                <a href="/shop/{{item.pk}}/">
                    {{item.name}}
                </a>                
                {{item.price}}
                {{item.desc}}
            </li>
        {% endfor %}  
    </ul>
    {% endblock %} 
    {% endblock %} 
