<!--겹치는넘-->
{%load static%} <!--모든 템플릿에 해주기-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title %} AskCompany {%endblock%}}</title>
    <style>
        body{background-color:lightblue}
    </style>
    <link rel="stylesheet" href="{%static "main.css" %}"/>
    {%block extra_head%}{% endblock %} <!--css-->
</head>
<body>
    <h1>Ask Company</h1>

    <!--겹치지않는넘 block으로 구분-->
    {%block content%}
    {%endblock%}

    &copy; 2018.AskCompany
    
    <script src="{%static "main.js" %}"/>
    {%block extra_body%}{% endblock %} 
</body>
</html>