{% extends 'base.html'%}

{%block content%}
    <div class="text-center" style="padding-top: 15px;">
        <h1>Idea List</h1>
        <p>나의 아이디어를 잊지 말고 기록해보세요.</p>
    </div>

    <div class='row'style="justify-content: space-evenly;">
    {%for idea in ideas%}  
        <div class='col-sm-3' style="background-color:#F8F9FA; border-radius:5px ;margin:5px; padding:10px;">
            
            {% if idea.image %}
            <p><img src="{{idea.image.url}}" style="width:100%" alt=""></p>
            {% else %}
            <p></p>
            {% endif %}
            
            <div style="border-bottom:2px solid white;">
            <h3>        
                <a href="{%url 'ideas:idea_detail' idea.id%}" style="color: #760c0c"> {{idea.title}} </a>
            </h3>
            </div>
            <br>
            <p>예상 개발툴: {{idea.devtool}}</p>
            <p>아이디어 관심도: {{idea.interest}}</p>
                
        </div>
    {%endfor%}
    </div>

{%endblock%}